@model Hanodale.WebUI.Models.AccessRightsModel
@using Hanodale.WebUI
@using System.Web.Optimization
@using Hanodale.Utility.Globalize
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!-- Hidden Variable -->
<input type="hidden" id="alert-delete" value ="@Resources.MSG_CONFIRM_DELETE">
<input type="hidden" id="alert-reset" value ="@Resources.MSG_RESET_PASSWORD_CONFIRM">
<input type="hidden" class="mainPart" value="user" data-addbtn="true">
<input type="hidden" class="table-congif" value="user" data-columncount="5" data-button="true" data-condition="false" data-extended-event-btn="true" data-filterId="@Model.elementId" data-auto-hide-column="true" data-export-btn="true" data-disall="false">

<div class="row-flex">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4 nPadding">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-table fa-fw "></i>@Resources.PAGE_HEADER_MANAGE_USER
        </h1>
    </div>
    @if (@Model.canAdd && !Model.readOnly)
    {
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <ul id="sparks" class="">
                <li class="sparks-info">
                    <button id="create-user" data-url="User/Create/@Model.elementId" class="btn btn-sm btn-primary" type="button">
                        <i class="fa fa-plus"></i>
                        @Resources.BTN_CREATE_USER
                    </button>
                </li>
            </ul>
        </div>
    }
</div>
<div class="formSpliter"></div>
<div id="message" class="alert alert-success" style="display: none"></div>
<!-- widget grid -->

<section id="widget-grid" class="">
    <!-- row -->
    <div class="">
        @Html.Action("GetCustomSearchPanel", "Common", new { searchType = 10 })
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nPadding">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0"
                 data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-colorbutton="false"
                 data-widget-sortable="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-table"></i></span>
                    <h2>@Resources.USER_GRID_TITLE </h2>

                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <table id="dt_user" class="table table-striped table-bordered table-hover" width="100%">
                            @*<tfoot>
                                <tr>
                                    <th class="hasinput" style="width: 10%">
                                        <input type="text" class="form-control" placeholder="Filter Name" />
                                    </th>
                                    <th class="hasinput">
                                        <input class="form-control" placeholder="Filter Position" type="text" />
                                    </th>
                                    <th class="hasinput">
                                        <input type="text" class="form-control" placeholder="Filter Office" />
                                    </th>
                                    <th class="hasinput">
                                        <input type="text" class="form-control" placeholder="Filter Age" />
                                    </th>
                                    <th class="hasinput icon-addon">
                                        <input id="dateselect_filter" type="text" placeholder="Filter Date" class="form-control datepicker" data-dateformat="yy/mm/dd">
                                        <label for="dateselect_filter" class="glyphicon glyphicon-calendar no-margin padding-top-15" rel="tooltip" title="" data-original-title="Filter Date"></label>
                                    </th>
                                    <th class="hasinput">
                                        <input type="text" class="form-control" placeholder="Filter Salary" />
                                    </th>
                                    <th class="hasinput">
                                        <input type="text" class="form-control" placeholder="Filter Salary" />
                                    </th>
                                    <th class="hasinput">
                                    </th>
                                </tr>
                            </tfoot>*@
                            <thead>
                                <tr>
                                    <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs tableIcon"></i>@Resources.USER_GRID_NAME</th>
                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-envelope text-muted hidden-md hidden-sm hidden-xs tableIcon"></i>@Resources.USER_GRID_EMAIL</th>
                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-pencil text-muted hidden-md hidden-sm hidden-xs tableIcon"></i>@Resources.USER_GRID_ROLE</th>
                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-paper-plane text-muted hidden-md hidden-sm hidden-xs tableIcon"></i>@Resources.USER_GIRD_STATUS</th>
                                    <th data-hide="phone,tablet" class="table-column-header" style="width: 140px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>

</section>
<!-- /.page-content -->

<!-- Protected Script -->
@Scripts.Render(bundles.scripts.user_index)
@Scripts.Render(bundles.scripts.common_index)
<!-- Protected Script -->
@*<script type="text/JavaScript">
    _initActionExtended = function (partName) {

        //Reset Password
        $('.reset-password').bind("click", function () {
            var id = $(this).attr("data-url")
            if (id) {
                var message = $("#alert-reset").val();
                var actionUrl = partName + "ResetPassword/" + id;
                var param = {};
                navigate.saveCallBack(actionUrl, param, message, false, null);
            }
        });

        $('.edituser').bind("click", function () {
            var id = $(this).attr("data-url")
            var destInner = $(this).closest('div.tab-pane-content').attr("id")
            var actionUrl = partName + "Edit/";
            var elem = $('.table-congif[value="' + partName + '"]');
            var destOuter = $(elem).attr('data-edit-dest');
            var businessId = $(elem).attr("data-filterId")
            var param = { id: id, businessId: businessId, readOnly: readOnly }
            if (actionUrl) {
                if (destInner) {
                    navigate.navigateElementByParameter(actionUrl, param, $("#" + destInner));
                } else if (destOuter) {
                    navigate.navigateElementByParameter(actionUrl, param, $(destOuter));
                }
                else {
                    navigate.viewByParameter(actionUrl, param);
                }
            }
        });

        $('.viewuser').bind("click", function () {
            var id = $(this).attr("data-url")
            var destInner = $(this).closest('div.tab-pane-content').attr("id")
            var actionUrl = partName + "Edit/";
            var elem = $('.table-congif[value="' + partName + '"]');
            var destOuter = $(elem).attr('data-edit-dest');
            var businessId = $(elem).attr("data-filterId")
            var param = { id: id, businessId: businessId, readOnly: readOnly }
            if (actionUrl) {
                if (destInner) {
                    navigate.navigateElementByParameter(actionUrl, param, $("#" + destInner));
                } else if (destOuter) {
                    navigate.navigateElementByParameter(actionUrl, param, $(destOuter));
                }
                else {
                    navigate.viewByParameter(actionUrl, param);
                }
            }
        });



    }
</script>*@